In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 불러오기
df24 = pd.read_csv("./2024 하차인원(1_8호선).csv")
df23 = pd.read_csv("./2023 하차인원(1_8호선).csv")
df22 = pd.read_csv("./2022 하차인원(1_8호선).csv")
df21 = pd.read_csv("./2021 하차인원(1_8호선).csv")
df20 = pd.read_csv("./2020 하차인원(1_8호선).csv")
df19 = pd.read_csv("./2019 하차인원(1_8호선).csv")
df18 = pd.read_csv("./2018 하차인원(1_8호선).csv")

2024년

In [5]:
df24

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2023-11-01,1호선,서울역,하차,300,2166,5186,10500,6808,2882,...,1249,1114,734,381,108,2023,11,1,수,4
1,2023-11-01,1호선,시청역,하차,220,1014,3464,9344,4223,2240,...,321,264,174,108,40,2023,11,1,수,4
2,2023-11-01,1호선,종각역,하차,238,1162,5429,12950,6953,2555,...,361,246,161,133,45,2023,11,1,수,4
3,2023-11-01,1호선,종로3가역,하차,103,478,1154,3042,2514,1946,...,377,284,225,163,90,2023,11,1,수,4
4,2023-11-01,1호선,종로5가역,하차,176,664,1813,4429,2872,2414,...,332,270,168,94,30,2023,11,1,수,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25114,2024-01-31,8호선,단대오거리역,하차,58,207,444,844,378,309,...,775,747,737,421,138,2024,1,31,수,1
25115,2024-01-31,8호선,신흥역,하차,19,67,128,282,195,191,...,381,338,291,168,50,2024,1,31,수,1
25116,2024-01-31,8호선,수진역,하차,28,73,136,290,249,241,...,318,276,226,162,41,2024,1,31,수,1
25117,2024-01-31,8호선,모란역,하차,19,128,161,374,199,188,...,128,122,100,61,83,2024,1,31,수,1
25118,2024-01-31,8호선,남위례역,하차,39,134,340,932,473,212,...,376,414,316,214,89,2024,1,31,수,1

In [6]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df24_sorted =  df24.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df24_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_4672\3476927732.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df24_sorted =  df24.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  24603  2024-01-30  2호선  강남역  하차     526     2272     6927    14287
   20783  2024-01-16  2호선  강남역  하차     524     2262     7319    14345
   19144  2024-01-10  2호선  강남역  하차     521     2365     7036    13749
   24329  2024-01-29  2호선  강남역  하차     519     2348     7130    13842
   22418  2024-01-22  2호선  강남역  하차     517     2346     6881    13528

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  24603    13888     6347  ...     1959     1600     1196      646     260
   20783    14657     6286  ...     1834     1427     1192      639     220
   19144    14357     6246  ...     2027     1564     1310      725     233
   24329    14164     6021  ...     1768     1343     1045      571     249
   22418    14691     6380  ...     1766     1383     1051      462     209

            연도  월   일  요일  분기
분기
1  24603  2024  1  30   화   1
   20783  2024  1  16   화   1
   19144  2024  1  10   수   1
   24329  2024  1  29   월   1
   22418  2024  1  22   월   1

[5 rows x 29 columns]

In [7]:
# index를 포함하지 않고 데이터 저장
df24_sorted.to_csv("2024 분기별 하차인원 sorted.csv", index=False)
df24_sorted.head()

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  24603  2024-01-30  2호선  강남역  하차     526     2272     6927    14287
   20783  2024-01-16  2호선  강남역  하차     524     2262     7319    14345
   19144  2024-01-10  2호선  강남역  하차     521     2365     7036    13749
   24329  2024-01-29  2호선  강남역  하차     519     2348     7130    13842
   22418  2024-01-22  2호선  강남역  하차     517     2346     6881    13528

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  24603    13888     6347  ...     1959     1600     1196      646     260
   20783    14657     6286  ...     1834     1427     1192      639     220
   19144    14357     6246  ...     2027     1564     1310      725     233
   24329    14164     6021  ...     1768     1343     1045      571     249
   22418    14691     6380  ...     1766     1383     1051      462     209

            연도  월   일  요일  분기
분기
1  24603  2024  1  30   화   1
   20783  2024  1  16   화   1
   19144  2024  1  10   수   1
   24329  2024  1  29   월   1
   22418  2024  1  22   월   1

[5 rows x 29 columns]

2023년

In [8]:
df23

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2023-01-01,1호선,서울역,하차,154,636,595,939,1306,1324,...,1487,991,609,280,46,2023,1,1,일,1
1,2023-01-01,1호선,시청역,하차,64,247,293,463,522,569,...,267,246,154,79,18,2023,1,1,일,1
2,2023-01-01,1호선,종각역,하차,69,164,268,384,630,706,...,267,207,149,136,15,2023,1,1,일,1
3,2023-01-01,1호선,종로3가역,하차,39,118,130,274,444,678,...,227,201,122,90,31,2023,1,1,일,1
4,2023-01-01,1호선,종로5가역,하차,26,84,130,216,385,589,...,195,174,152,95,10,2023,1,1,일,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82683,2023-10-31,8호선,단대오거리역,하차,60,230,485,992,529,394,...,822,740,735,333,149,2023,10,31,화,4
82684,2023-10-31,8호선,신흥역,하차,12,73,152,290,150,175,...,398,333,246,167,53,2023,10,31,화,4
82685,2023-10-31,8호선,수진역,하차,23,108,220,543,235,248,...,318,249,219,148,51,2023,10,31,화,4
82686,2023-10-31,8호선,모란역,하차,22,136,214,465,227,152,...,136,120,104,68,64,2023,10,31,화,4
82687,2023-10-31,8호선,남위례역,하차,43,118,334,1210,450,247,...,408,389,356,198,80,2023,10,31,화,4

In [9]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df23_sorted =  df23.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df23_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_4672\3931661248.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df23_sorted =  df23.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  9007   2023-02-03  2호선  강남역  하차     521     2101     6520    13021
   8735   2023-02-02  2호선  강남역  하차     517     2097     6859    13778
   10095  2023-02-07  2호선  강남역  하차     515     2201     6687    13873
   10911  2023-02-10  2호선  강남역  하차     505     1920     6353    12497
   15807  2023-02-28  2호선  강남역  하차     504     2106     6585    13119

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  9007     13303     6256  ...     2394     1789     1588     1178     482
   8735     13493     6037  ...     2092     1555     1375      732     348
   10095    14399     6324  ...     2049     1581     1302      679     283
   10911    13260     5975  ...     2523     1890     1706     1224     589
   15807    13634     6231  ...     2549     1862     1711     1121     509

            연도  월   일  요일  분기
분기
1  9007   2023  2   3   금   1
   8735   2023  2   2   목   1
   10095  2023  2   7   화   1
   10911  2023  2  10   금   1
   15807  2023  2  28   화   1

[5 rows x 29 columns]

In [10]:
# index를 포함하지 않고 데이터 저장
df23_sorted.to_csv("2023 분기별 하차인원 sorted.csv", index=False)
df23_sorted.head()

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  9007   2023-02-03  2호선  강남역  하차     521     2101     6520    13021
   8735   2023-02-02  2호선  강남역  하차     517     2097     6859    13778
   10095  2023-02-07  2호선  강남역  하차     515     2201     6687    13873
   10911  2023-02-10  2호선  강남역  하차     505     1920     6353    12497
   15807  2023-02-28  2호선  강남역  하차     504     2106     6585    13119

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  9007     13303     6256  ...     2394     1789     1588     1178     482
   8735     13493     6037  ...     2092     1555     1375      732     348
   10095    14399     6324  ...     2049     1581     1302      679     283
   10911    13260     5975  ...     2523     1890     1706     1224     589
   15807    13634     6231  ...     2549     1862     1711     1121     509

            연도  월   일  요일  분기
분기
1  9007   2023  2   3   금   1
   8735   2023  2   2   목   1
   10095  2023  2   7   화   1
   10911  2023  2  10   금   1
   15807  2023  2  28   화   1

[5 rows x 29 columns]

2022년

In [11]:
df22

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2022-01-01,1,서울역,하차,113,560,617,910,1232,1260,...,654,728,416,131,NaN,2022,1,1,토,1
1,2022-01-01,1,시청역,하차,31,195,224,380,283,309,...,98,137,61,24,NaN,2022,1,1,토,1
2,2022-01-01,1,종각역,하차,33,136,199,334,489,604,...,146,130,74,40,NaN,2022,1,1,토,1
3,2022-01-01,1,종로3가역,하차,43,139,124,272,414,658,...,127,198,93,47,NaN,2022,1,1,토,1
4,2022-01-01,1,종로5가역,하차,14,80,137,239,374,482,...,90,101,75,41,NaN,2022,1,1,토,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99535,2022-12-31,8,단대오거리역,하차,35,142,118,220,238,242,...,428,500,437,240,106.0,2022,12,31,토,4
99536,2022-12-31,8,신흥역,하차,12,56,56,128,154,160,...,199,214,219,129,45.0,2022,12,31,토,4
99537,2022-12-31,8,수진역,하차,16,81,64,104,141,143,...,162,252,233,114,46.0,2022,12,31,토,4
99538,2022-12-31,8,모란역,하차,13,104,62,131,100,159,...,169,220,223,129,106.0,2022,12,31,토,4
99539,2022-12-31,8,남위례역,하차,22,68,77,149,152,165,...,175,196,178,118,41.0,2022,12,31,토,4

In [12]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df22_sorted =  df22.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df22_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_4672\1166967968.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df22_sorted =  df22.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜  호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  09시-10시  \
분기
1  10385  2022-02-08   2  강남역  하차     473     1997     5863    13296    13946
   6575   2022-01-25   2  강남역  하차     463     2007     6287    13633    14629
   9297   2022-02-04   2  강남역  하차     461     1784     5461    12328    12557
   4394   2022-01-17   2  강남역  하차     457     2012     6178    14118    14897
   24022  2022-03-30   2  강남역  하차     457     1772     5755    12828    11503

          10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후    연도  월  \
분기                 ...
1  10385     6034  ...     1281     1576      740      287     NaN  2022  2
   6575      6259  ...     1422     1866      767      340     NaN  2022  1
   9297      5547  ...     1312     1657      731      350     NaN  2022  2
   4394      6295  ...     1493     1610      657      288     NaN  2022  1
   24022     4907  ...     1346     1011      898      728     NaN  2022  3

           일  요일  분기
분기
1  10385   8   화   1
   6575   25   화   1
   9297    4   금   1
   4394   17   월   1
   24022  30   수   1

[5 rows x 29 columns]

In [13]:
# index를 포함하지 않고 데이터 저장
df22_sorted.to_csv("2022 분기별 하차인원 sorted.csv", index=False)
df22_sorted.head()

                  날짜  호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  09시-10시  \
분기
1  10385  2022-02-08   2  강남역  하차     473     1997     5863    13296    13946
   6575   2022-01-25   2  강남역  하차     463     2007     6287    13633    14629
   9297   2022-02-04   2  강남역  하차     461     1784     5461    12328    12557
   4394   2022-01-17   2  강남역  하차     457     2012     6178    14118    14897
   24022  2022-03-30   2  강남역  하차     457     1772     5755    12828    11503

          10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후    연도  월  \
분기                 ...
1  10385     6034  ...     1281     1576      740      287     NaN  2022  2
   6575      6259  ...     1422     1866      767      340     NaN  2022  1
   9297      5547  ...     1312     1657      731      350     NaN  2022  2
   4394      6295  ...     1493     1610      657      288     NaN  2022  1
   24022     4907  ...     1346     1011      898      728     NaN  2022  3

           일  요일  분기
분기
1  10385   8   화   1
   6575   25   화   1
   9297    4   금   1
   4394   17   월   1
   24022  30   수   1

[5 rows x 29 columns]

2021년

In [3]:
df21

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,연도,월,일,요일,분기
0,2021-01-01,1호선,서울역,하차,85,355,438,592,841,747,...,425,354,307,134,77,2021,1,1,금,1
1,2021-01-01,1호선,시청역,하차,40,145,176,312,223,189,...,57,54,64,23,17,2021,1,1,금,1
2,2021-01-01,1호선,종각역,하차,34,116,178,304,391,362,...,117,75,72,29,19,2021,1,1,금,1
3,2021-01-01,1호선,종로3가역,하차,37,82,94,169,265,403,...,114,92,78,41,36,2021,1,1,금,1
4,2021-01-01,1호선,종로5가역,하차,18,61,106,145,166,260,...,79,52,47,39,23,2021,1,1,금,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102182,2021-12-31,8호선,단대오거리역,하차,54,189,325,639,242,259,...,737,488,648,402,188,2021,12,31,금,4
102183,2021-12-31,8호선,신흥역,하차,16,80,122,251,170,171,...,343,223,272,179,91,2021,12,31,금,4
102184,2021-12-31,8호선,수진역,하차,25,75,96,340,180,179,...,317,223,323,204,100,2021,12,31,금,4
102185,2021-12-31,8호선,모란역,하차,20,96,120,311,132,143,...,176,107,154,96,52,2021,12,31,금,4
102186,2021-12-31,8호선,남위례역,하차,10,41,119,375,147,76,...,263,145,209,138,34,2021,12,31,금,4

In [4]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df21_sorted =  df21.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시'], ascending=False))
df21_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_12800\3882441796.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df21_sorted =  df21.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  5023   2021-01-19  2호선  강남역  하차     485     1741     5917    12435
   1695   2021-01-07  2호선  강남역  하차     484     1780     5466    11817
   21400  2021-03-19  2호선  강남역  하차     482     1957     6359    13326
   8909   2021-02-02  2호선  강남역  하차     479     1883     6004    13440
   21122  2021-03-18  2호선  강남역  하차     478     2038     6390    14422

          09시-10시  10시-11시  ...  19시-20시  20시-21시  21시-22시  22시-23시  23시-24시  \
분기                          ...
1  5023     11901     5080  ...     2585     1176     1339      503      252
   1695     10667     5787  ...     2182     1052     1054      446      193
   21400    12967     5672  ...     5622     1818     1337     1987      633
   8909     12641     5507  ...     2875     1322     1550      481      258
   21122    12154     5784  ...     3838     1414     1217     1553      496

            연도  월   일  요일  분기
분기
1  5023   2021  1  19   화   1
   1695   2021  1   7   목   1
   21400  2021  3  19   금   1
   8909   2021  2   2   화   1
   21122  2021  3  18   목   1

[5 rows x 28 columns]

In [5]:
# index를 포함하지 않고 데이터 저장
df21_sorted.to_csv("2021 분기별 하차인원 sorted.csv", index=False)
df21_sorted.head()

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  5023   2021-01-19  2호선  강남역  하차     485     1741     5917    12435
   1695   2021-01-07  2호선  강남역  하차     484     1780     5466    11817
   21400  2021-03-19  2호선  강남역  하차     482     1957     6359    13326
   8909   2021-02-02  2호선  강남역  하차     479     1883     6004    13440
   21122  2021-03-18  2호선  강남역  하차     478     2038     6390    14422

          09시-10시  10시-11시  ...  19시-20시  20시-21시  21시-22시  22시-23시  23시-24시  \
분기                          ...
1  5023     11901     5080  ...     2585     1176     1339      503      252
   1695     10667     5787  ...     2182     1052     1054      446      193
   21400    12967     5672  ...     5622     1818     1337     1987      633
   8909     12641     5507  ...     2875     1322     1550      481      258
   21122    12154     5784  ...     3838     1414     1217     1553      496

            연도  월   일  요일  분기
분기
1  5023   2021  1  19   화   1
   1695   2021  1   7   목   1
   21400  2021  3  19   금   1
   8909   2021  2   2   화   1
   21122  2021  3  18   목   1

[5 rows x 28 columns]

2020년

In [17]:
df20

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2020-01-01,1호선,서울역,하차,235,952,828,1043,1694,1655,...,1620,1181,768,426,77,2020,1,1,수,1
1,2020-01-01,1호선,시청역,하차,81,223,334,570,611,612,...,293,273,174,149,26,2020,1,1,수,1
2,2020-01-01,1호선,종각역,하차,71,191,295,511,855,1026,...,545,344,225,146,25,2020,1,1,수,1
3,2020-01-01,1호선,종로3가역,하차,53,147,190,363,594,952,...,320,232,230,172,61,2020,1,1,수,1
4,2020-01-01,1호선,종로5가역,하차,22,124,170,240,403,595,...,264,190,136,101,15,2020,1,1,수,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101135,2020-12-31,8호선,남한산성입구역,하차,47,128,296,672,303,226,...,548,562,275,154,0,2020,12,31,목,4
101136,2020-12-31,8호선,단대오거리역,하차,70,205,308,520,274,183,...,458,432,237,121,0,2020,12,31,목,4
101137,2020-12-31,8호선,신흥역,하차,31,95,78,211,145,165,...,229,219,85,42,0,2020,12,31,목,4
101138,2020-12-31,8호선,수진역,하차,15,70,92,227,190,166,...,232,202,127,45,0,2020,12,31,목,4
101139,2020-12-31,8호선,모란역,하차,15,59,111,181,142,109,...,71,99,39,25,3,2020,12,31,목,4

In [18]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df20_sorted =  df20.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df20_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_4672\1290076512.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df20_sorted =  df20.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                 날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  09시-10시  \
분기
1  7746  2020-01-29  2호선  강남역  하차     581     2208     7228    15862    16857
   3339  2020-01-13  2호선  강남역  하차     575     2502     7858    16310    18269
   8299  2020-01-31  2호선  강남역  하차     575     2110     6764    16050    16455
   4167  2020-01-16  2호선  강남역  하차     571     2403     7290    16605    17882
   5820  2020-01-22  2호선  강남역  하차     571     2309     7348    16282    17386

         10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후    연도  월  \
분기                ...
1  7746     6927  ...     2646     1947     1709      997     408  2020  1
   3339     7318  ...     2712     2014     1809      885     420  2020  1
   8299     6705  ...     3212     2361     1926     1465     650  2020  1
   4167     7517  ...     3182     2288     2434     1254     474  2020  1
   5820     7531  ...     3202     2426     1820     1230     623  2020  1

          일  요일  분기
분기
1  7746  29   수   1
   3339  13   월   1
   8299  31   금   1
   4167  16   목   1
   5820  22   수   1

[5 rows x 29 columns]

In [19]:
# index를 포함하지 않고 데이터 저장
df20_sorted.to_csv("2020 분기별 하차인원 sorted.csv", index=False)
df20_sorted.head()

                 날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  09시-10시  \
분기
1  7746  2020-01-29  2호선  강남역  하차     581     2208     7228    15862    16857
   3339  2020-01-13  2호선  강남역  하차     575     2502     7858    16310    18269
   8299  2020-01-31  2호선  강남역  하차     575     2110     6764    16050    16455
   4167  2020-01-16  2호선  강남역  하차     571     2403     7290    16605    17882
   5820  2020-01-22  2호선  강남역  하차     571     2309     7348    16282    17386

         10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후    연도  월  \
분기                ...
1  7746     6927  ...     2646     1947     1709      997     408  2020  1
   3339     7318  ...     2712     2014     1809      885     420  2020  1
   8299     6705  ...     3212     2361     1926     1465     650  2020  1
   4167     7517  ...     3182     2288     2434     1254     474  2020  1
   5820     7531  ...     3202     2426     1820     1230     623  2020  1

          일  요일  분기
분기
1  7746  29   수   1
   3339  13   월   1
   8299  31   금   1
   4167  16   목   1
   5820  22   수   1

[5 rows x 29 columns]

2019년

In [20]:
df19

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2019-01-01,1호선,서울역,하차,222,821,808,961,1472,1737,...,1683,1217,764,456,149,2019,1,1,화,1
1,2019-01-01,1호선,시청역,하차,48,237,323,571,577,648,...,311,268,177,144,57,2019,1,1,화,1
2,2019-01-01,1호선,종각역,하차,68,179,293,546,926,945,...,431,315,237,163,38,2019,1,1,화,1
3,2019-01-01,1호선,종로3가역,하차,38,180,261,424,703,961,...,262,249,209,143,87,2019,1,1,화,1
4,2019-01-01,1호선,종로5가역,하차,25,102,140,296,509,763,...,246,209,113,93,23,2019,1,1,화,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100397,2019-12-31,8호선,남한산성입구역,하차,45,161,392,800,514,380,...,688,717,664,431,349,2019,12,31,화,4
100398,2019-12-31,8호선,단대오거리역,하차,54,178,369,713,389,302,...,629,566,528,346,236,2019,12,31,화,4
100399,2019-12-31,8호선,신흥역,하차,20,87,86,243,208,189,...,378,301,257,154,163,2019,12,31,화,4
100400,2019-12-31,8호선,수진역,하차,27,97,115,433,259,198,...,354,332,322,256,163,2019,12,31,화,4
100401,2019-12-31,8호선,모란역,하차,15,99,140,386,189,175,...,213,195,186,130,407,2019,12,31,화,4

In [21]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df19_sorted =  df19.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df19_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_4672\291862619.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df19_sorted =  df19.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  11306  2019-02-11  2호선  강남역  하차     563     2469     8120    15743
   20931  2019-03-18  2호선  강남역  하차     557     2440     8624    16668
   12406  2019-02-15  2호선  강남역  하차     551     2218     6875    15387
   19006  2019-03-11  2호선  강남역  하차     549     2547     8928    16833
   22856  2019-03-25  2호선  강남역  하차     548     2498     8714    15933

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  11306    18402     7135  ...     3187     2169     1813     1023     391
   20931    15851     6493  ...     2859     2085     1850      942     384
   12406    17225     7885  ...     4244     3029     2618     1786     942
   19006    15918     6960  ...     2831     1986     1619      869     396
   22856    15989     6605  ...     2678     2111     1689      938     405

            연도  월   일  요일  분기
분기
1  11306  2019  2  11   월   1
   20931  2019  3  18   월   1
   12406  2019  2  15   금   1
   19006  2019  3  11   월   1
   22856  2019  3  25   월   1

[5 rows x 29 columns]

In [22]:
# index를 포함하지 않고 데이터 저장
df19_sorted.to_csv("2019 분기별 하차인원 sorted.csv", index=False)
df19_sorted.head()

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  11306  2019-02-11  2호선  강남역  하차     563     2469     8120    15743
   20931  2019-03-18  2호선  강남역  하차     557     2440     8624    16668
   12406  2019-02-15  2호선  강남역  하차     551     2218     6875    15387
   19006  2019-03-11  2호선  강남역  하차     549     2547     8928    16833
   22856  2019-03-25  2호선  강남역  하차     548     2498     8714    15933

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  11306    18402     7135  ...     3187     2169     1813     1023     391
   20931    15851     6493  ...     2859     2085     1850      942     384
   12406    17225     7885  ...     4244     3029     2618     1786     942
   19006    15918     6960  ...     2831     1986     1619      869     396
   22856    15989     6605  ...     2678     2111     1689      938     405

            연도  월   일  요일  분기
분기
1  11306  2019  2  11   월   1
   20931  2019  3  18   월   1
   12406  2019  2  15   금   1
   19006  2019  3  11   월   1
   22856  2019  3  25   월   1

[5 rows x 29 columns]

2018년

In [3]:
df18

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2018-01-01,1호선,서울역,하차,205,1040,872,984,1650,1743,...,1669,1404,868,477,147,2018,1,1,월,1
1,2018-01-01,1호선,시청역,하차,47,294,497,1017,673,657,...,308,236,160,100,39,2018,1,1,월,1
2,2018-01-01,1호선,종각역,하차,74,219,327,606,989,1086,...,420,342,186,152,33,2018,1,1,월,1
3,2018-01-01,1호선,종로3가역,하차,48,128,165,348,750,947,...,322,264,165,139,35,2018,1,1,월,1
4,2018-01-01,1호선,종로5가역,하차,33,83,145,340,423,541,...,267,214,131,99,28,2018,1,1,월,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100370,2018-12-31,8호선,남한산성입구역,하차,40,136,303,735,340,327,...,802,714,677,419,846,2018,12,31,월,4
100371,2018-12-31,8호선,단대오거리역,하차,50,167,332,636,344,320,...,713,583,553,370,816,2018,12,31,월,4
100372,2018-12-31,8호선,신흥역,하차,20,83,92,194,148,194,...,321,253,219,179,396,2018,12,31,월,4
100373,2018-12-31,8호선,수진역,하차,18,91,136,356,214,222,...,288,248,327,203,387,2018,12,31,월,4
100374,2018-12-31,8호선,모란역,하차,15,87,133,329,194,144,...,181,216,185,113,828,2018,12,31,월,4

In [4]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df18_sorted =  df18.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df18_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_452\2434452343.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df18_sorted =  df18.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  17565  2018-03-12  2호선  강남역  하차     549     2645     9571    17007
   1221   2018-01-11  2호선  강남역  하차     530     2307     7770    16692
   11531  2018-02-26  2호선  강남역  하차     529     2430     8622    16588
   1935   2018-01-17  2호선  강남역  하차     529     2368     8009    16485
   16732  2018-03-05  2호선  강남역  하차     528     2531     8902    16438

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  17565    14383     7358  ...     3112     2154     1842      877     376
   1221     16084     7177  ...     2939     2204     2123     1143     431
   11531    14709     7039  ...     3296     2492     1940      937     430
   1935     17476     7429  ...     3102     2256     1953     1107     433
   16732    15391     6830  ...     3111     2261     1830      951     382

            연도  월   일  요일  분기
분기
1  17565  2018  3  12   월   1
   1221   2018  1  11   목   1
   11531  2018  2  26   월   1
   1935   2018  1  17   수   1
   16732  2018  3   5   월   1

[5 rows x 29 columns]

In [5]:
# index를 포함하지 않고 데이터 저장
df18_sorted.to_csv("2018 분기별 하차인원 sorted.csv", index=False)
df18_sorted.head()

                  날짜   호선   역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  17565  2018-03-12  2호선  강남역  하차     549     2645     9571    17007
   1221   2018-01-11  2호선  강남역  하차     530     2307     7770    16692
   11531  2018-02-26  2호선  강남역  하차     529     2430     8622    16588
   1935   2018-01-17  2호선  강남역  하차     529     2368     8009    16485
   16732  2018-03-05  2호선  강남역  하차     528     2531     8902    16438

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  17565    14383     7358  ...     3112     2154     1842      877     376
   1221     16084     7177  ...     2939     2204     2123     1143     431
   11531    14709     7039  ...     3296     2492     1940      937     430
   1935     17476     7429  ...     3102     2256     1953     1107     433
   16732    15391     6830  ...     3111     2261     1830      951     382

            연도  월   일  요일  분기
분기
1  17565  2018  3  12   월   1
   1221   2018  1  11   목   1
   11531  2018  2  26   월   1
   1935   2018  1  17   수   1
   16732  2018  3   5   월   1

[5 rows x 29 columns]