In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 불러오기
df24 = pd.read_csv("./2024 승차인원(1_8호선).csv")
df23 = pd.read_csv("./2023 승차인원(1_8호선).csv")
df22 = pd.read_csv("./2022 승차인원(1_8호선).csv")
df21 = pd.read_csv("./2021 승차인원(1_8호선).csv")
df20 = pd.read_csv("./2020 승차인원(1_8호선).csv")
df19 = pd.read_csv("./2019 승차인원(1_8호선).csv")
df18 = pd.read_csv("./2018 승차인원(1_8호선).csv")

2024년

In [4]:
df24

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2023-11-01,1호선,서울역,승차,342,520,1929,2864,2321,2035,...,2870,2550,1641,753,72,2023,11,1,수,4
1,2023-11-01,1호선,시청역,승차,86,157,303,415,513,543,...,2211,2100,1250,399,31,2023,11,1,수,4
2,2023-11-01,1호선,종각역,승차,144,167,256,454,559,751,...,3149,3366,2330,908,38,2023,11,1,수,4
3,2023-11-01,1호선,종로3가역,승차,133,122,220,322,421,664,...,1564,1799,1384,542,63,2023,11,1,수,4
4,2023-11-01,1호선,종로5가역,승차,89,170,242,404,496,801,...,1234,1097,724,222,8,2023,11,1,수,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25114,2024-01-31,8호선,단대오거리역,승차,364,768,2073,2458,1094,606,...,289,161,121,47,26,2024,1,31,수,1
25115,2024-01-31,8호선,신흥역,승차,155,306,765,1012,497,243,...,147,107,67,34,10,2024,1,31,수,1
25116,2024-01-31,8호선,수진역,승차,174,281,662,928,480,320,...,147,185,114,37,14,2024,1,31,수,1
25117,2024-01-31,8호선,모란역,승차,80,120,356,456,265,226,...,160,137,117,70,30,2024,1,31,수,1
25118,2024-01-31,8호선,남위례역,승차,54,283,923,1111,582,319,...,263,251,202,105,33,2024,1,31,수,1

In [5]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df24_sorted =  df24.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df24_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_9000\4207234337.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df24_sorted =  df24.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  16706  2024-01-01  2호선  홍대입구역  승차    5080     2889     1803     1319
   16852  2024-01-01  6호선   이태원역  승차    2311     1422      617      398
   16679  2024-01-01  2호선  건대입구역  승차    1799     1284      756      679
   24341  2024-01-29  2호선   신도림역  승차    1570     2306     6074     6149
   18883  2024-01-09  2호선   신도림역  승차    1547     2313     6348     6456

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  16706     1192     1234  ...     4462     4849     4612     2138      12
   16852      307      312  ...      624      554      532      287       0
   16679      823      837  ...     1758     1880     1738      923       4
   24341     3424     2022  ...     2038     1826     1299      565      89
   18883     3640     2020  ...     1897     1998     1447      553     107

            연도  월   일  요일  분기
분기
1  16706  2024  1   1   월   1
   16852  2024  1   1   월   1
   16679  2024  1   1   월   1
   24341  2024  1  29   월   1
   18883  2024  1   9   화   1

[5 rows x 29 columns]

In [6]:
# index를 포함하지 않고 데이터 저장
df24_sorted.to_csv("2024 분기별 승차인원 sorted.csv", index=False)
df24_sorted.head()

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  16706  2024-01-01  2호선  홍대입구역  승차    5080     2889     1803     1319
   16852  2024-01-01  6호선   이태원역  승차    2311     1422      617      398
   16679  2024-01-01  2호선  건대입구역  승차    1799     1284      756      679
   24341  2024-01-29  2호선   신도림역  승차    1570     2306     6074     6149
   18883  2024-01-09  2호선   신도림역  승차    1547     2313     6348     6456

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  16706     1192     1234  ...     4462     4849     4612     2138      12
   16852      307      312  ...      624      554      532      287       0
   16679      823      837  ...     1758     1880     1738      923       4
   24341     3424     2022  ...     2038     1826     1299      565      89
   18883     3640     2020  ...     1897     1998     1447      553     107

            연도  월   일  요일  분기
분기
1  16706  2024  1   1   월   1
   16852  2024  1   1   월   1
   16679  2024  1   1   월   1
   24341  2024  1  29   월   1
   18883  2024  1   9   화   1

[5 rows x 29 columns]

2023년

In [7]:
df23

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2023-01-01,1호선,서울역,승차,215,145,231,594,923,1383,...,2177,2190,1808,734,7,2023,1,1,일,1
1,2023-01-01,1호선,시청역,승차,48,73,106,194,239,295,...,630,515,330,146,0,2023,1,1,일,1
2,2023-01-01,1호선,종각역,승차,407,235,158,201,188,284,...,913,906,602,232,3,2023,1,1,일,1
3,2023-01-01,1호선,종로3가역,승차,220,171,121,155,279,390,...,763,664,477,163,6,2023,1,1,일,1
4,2023-01-01,1호선,종로5가역,승차,46,48,79,101,189,318,...,572,382,177,65,0,2023,1,1,일,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82683,2023-10-31,8호선,단대오거리역,승차,431,819,2250,2561,1100,587,...,291,236,135,50,17,2023,10,31,화,4
82684,2023-10-31,8호선,신흥역,승차,160,291,820,1020,455,256,...,130,119,64,43,7,2023,10,31,화,4
82685,2023-10-31,8호선,수진역,승차,175,280,726,940,454,316,...,133,107,108,35,11,2023,10,31,화,4
82686,2023-10-31,8호선,모란역,승차,113,122,394,498,273,206,...,180,145,122,79,28,2023,10,31,화,4
82687,2023-10-31,8호선,남위례역,승차,64,292,1056,1205,600,303,...,248,256,197,79,34,2023,10,31,화,4

In [8]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df23_sorted =  df23.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df23_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_9000\3621420622.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df23_sorted =  df23.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2023-01-01  2호선  홍대입구역  승차    4640     2816     1434     1078
   19088  2023-03-12  2호선  홍대입구역  승차    2048     1189      805      799
   22896  2023-03-26  2호선  홍대입구역  승차    1928     1160      866      981
   3856   2023-01-15  2호선  홍대입구역  승차    1801     1117      745      849
   20992  2023-03-19  2호선  홍대입구역  승차    1775     1253      876     1021

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1201     1214  ...     4443     4730     4452     1914      22
   19088     1204     1510  ...     5466     5622     5027     2279      22
   22896     1435     1763  ...     6002     6595     5426     2514      22
   3856      1074     1290  ...     5637     6342     5404     2386      32
   20992     1409     1744  ...     6071     6457     5812     2543      33

            연도  월   일  요일  분기
분기
1  48     2023  1   1   일   1
   19088  2023  3  12   일   1
   22896  2023  3  26   일   1
   3856   2023  1  15   일   1
   20992  2023  3  19   일   1

[5 rows x 29 columns]

In [9]:
# index를 포함하지 않고 데이터 저장
df23_sorted.to_csv("2023 분기별 승차인원 sorted.csv", index=False)
df23_sorted.head()

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2023-01-01  2호선  홍대입구역  승차    4640     2816     1434     1078
   19088  2023-03-12  2호선  홍대입구역  승차    2048     1189      805      799
   22896  2023-03-26  2호선  홍대입구역  승차    1928     1160      866      981
   3856   2023-01-15  2호선  홍대입구역  승차    1801     1117      745      849
   20992  2023-03-19  2호선  홍대입구역  승차    1775     1253      876     1021

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1201     1214  ...     4443     4730     4452     1914      22
   19088     1204     1510  ...     5466     5622     5027     2279      22
   22896     1435     1763  ...     6002     6595     5426     2514      22
   3856      1074     1290  ...     5637     6342     5404     2386      32
   20992     1409     1744  ...     6071     6457     5812     2543      33

            연도  월   일  요일  분기
분기
1  48     2023  1   1   일   1
   19088  2023  3  12   일   1
   22896  2023  3  26   일   1
   3856   2023  1  15   일   1
   20992  2023  3  19   일   1

[5 rows x 29 columns]

2022년

In [10]:
df22

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2022-01-01,1,서울역,승차,120,137,211,439,592,878,...,899,1327,814,234,NaN,2022,1,1,토,1
1,2022-01-01,1,시청역,승차,38,66,101,139,121,137,...,434,491,232,38,NaN,2022,1,1,토,1
2,2022-01-01,1,종각역,승차,44,71,86,158,158,201,...,1099,1209,255,62,NaN,2022,1,1,토,1
3,2022-01-01,1,종로3가역,승차,74,73,67,164,201,296,...,871,1160,324,69,NaN,2022,1,1,토,1
4,2022-01-01,1,종로5가역,승차,37,55,74,95,194,209,...,479,477,107,22,NaN,2022,1,1,토,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99535,2022-12-31,8,단대오거리역,승차,176,266,385,532,564,607,...,194,182,187,55,12.0,2022,12,31,토,4
99536,2022-12-31,8,신흥역,승차,91,90,128,254,240,218,...,169,140,97,47,1.0,2022,12,31,토,4
99537,2022-12-31,8,수진역,승차,93,129,142,303,270,270,...,120,94,62,35,16.0,2022,12,31,토,4
99538,2022-12-31,8,모란역,승차,66,68,93,121,166,185,...,156,118,117,56,6.0,2022,12,31,토,4
99539,2022-12-31,8,남위례역,승차,23,60,86,150,167,199,...,157,167,151,73,14.0,2022,12,31,토,4

In [11]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df22_sorted =  df22.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df22_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_9000\803611645.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df22_sorted =  df22.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜  호선        역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  12028  2022-02-14   2       신림역  승차    1449     2849     8363    12451
   23483  2022-03-28   2       신림역  승차    1434     2921     8368    12272
   2767   2022-01-11   2       신림역  승차    1426     2893     8551    13374
   10393  2022-02-08   2       신림역  승차    1424     2787     8396    12767
   17757  2022-03-07   2  구로디지털단지역  승차    1421     1917     5372     6754

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  12028     6544     2953  ...     1554     1504      732      192     NaN
   23483     6351     2799  ...     1253     1167     1125      566     NaN
   2767      7013     3066  ...     1658     1920      808      206     NaN
   10393     6707     2959  ...     1549     1632      835      203     NaN
   17757     3677     1827  ...     2024     1583     1299      359     NaN

            연도  월   일  요일  분기
분기
1  12028  2022  2  14   월   1
   23483  2022  3  28   월   1
   2767   2022  1  11   화   1
   10393  2022  2   8   화   1
   17757  2022  3   7   월   1

[5 rows x 29 columns]

In [12]:
# index를 포함하지 않고 데이터 저장
df22_sorted.to_csv("2022 분기별 승차인원 sorted.csv", index=False)
df22_sorted.head()

                  날짜  호선        역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  12028  2022-02-14   2       신림역  승차    1449     2849     8363    12451
   23483  2022-03-28   2       신림역  승차    1434     2921     8368    12272
   2767   2022-01-11   2       신림역  승차    1426     2893     8551    13374
   10393  2022-02-08   2       신림역  승차    1424     2787     8396    12767
   17757  2022-03-07   2  구로디지털단지역  승차    1421     1917     5372     6754

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  12028     6544     2953  ...     1554     1504      732      192     NaN
   23483     6351     2799  ...     1253     1167     1125      566     NaN
   2767      7013     3066  ...     1658     1920      808      206     NaN
   10393     6707     2959  ...     1549     1632      835      203     NaN
   17757     3677     1827  ...     2024     1583     1299      359     NaN

            연도  월   일  요일  분기
분기
1  12028  2022  2  14   월   1
   23483  2022  3  28   월   1
   2767   2022  1  11   화   1
   10393  2022  2   8   화   1
   17757  2022  3   7   월   1

[5 rows x 29 columns]

2021년

In [3]:
df21

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,연도,월,일,요일,분기
0,2021-01-01,1호선,서울역,승차,86,111,157,306,333,416,...,579,479,510,445,101,2021,1,1,금,1
1,2021-01-01,1호선,시청역,승차,43,45,75,111,95,76,...,186,216,204,110,29,2021,1,1,금,1
2,2021-01-01,1호선,종각역,승차,49,59,89,126,125,113,...,492,593,513,130,31,2021,1,1,금,1
3,2021-01-01,1호선,종로3가역,승차,48,64,49,84,155,227,...,360,382,330,100,27,2021,1,1,금,1
4,2021-01-01,1호선,종로5가역,승차,25,39,51,76,81,159,...,227,161,106,45,11,2021,1,1,금,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102182,2021-12-31,8호선,단대오거리역,승차,229,496,1139,1316,630,477,...,258,191,228,90,29,2021,12,31,금,4
102183,2021-12-31,8호선,신흥역,승차,94,161,368,493,276,208,...,155,133,130,67,17,2021,12,31,금,4
102184,2021-12-31,8호선,수진역,승차,126,211,526,771,349,247,...,143,114,116,54,13,2021,12,31,금,4
102185,2021-12-31,8호선,모란역,승차,44,102,279,391,187,178,...,206,197,209,90,24,2021,12,31,금,4
102186,2021-12-31,8호선,남위례역,승차,20,83,279,347,138,186,...,74,73,95,54,18,2021,12,31,금,4

In [5]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df21_sorted =  df21.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시'], ascending=False))
df21_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_12668\3882441796.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df21_sorted =  df21.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선        역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  19185  2021-03-11  2호선  구로디지털단지역  승차    1576     2069     5633     7804
   20297  2021-03-15  2호선  구로디지털단지역  승차    1540     2122     5863     7430
   22245  2021-03-22  2호선      신도림역  승차    1529     2109     5905     5399
   21132  2021-03-18  2호선  구로디지털단지역  승차    1526     2010     5905     7626
   23079  2021-03-25  2호선       신림역  승차    1520     2900     8568    13023

          09시-10시  10시-11시  ...  19시-20시  20시-21시  21시-22시  22시-23시  23시-24시  \
분기                          ...
1  19185     4091     2018  ...     4749     2647     2449     2122      301
   20297     4223     2017  ...     5064     2701     2240     1689      225
   22245     3122     1814  ...     2629     2011     1918     1319      279
   21132     4304     2086  ...     4834     2627     2518     2215      272
   23079     6938     3156  ...     1838     1408     1623     1578      301

            연도  월   일  요일  분기
분기
1  19185  2021  3  11   목   1
   20297  2021  3  15   월   1
   22245  2021  3  22   월   1
   21132  2021  3  18   목   1
   23079  2021  3  25   목   1

[5 rows x 28 columns]

In [6]:
# index를 포함하지 않고 데이터 저장
df21_sorted.to_csv("2021 분기별 승차인원 sorted.csv", index=False)
df21_sorted.head()

                  날짜   호선        역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  19185  2021-03-11  2호선  구로디지털단지역  승차    1576     2069     5633     7804
   20297  2021-03-15  2호선  구로디지털단지역  승차    1540     2122     5863     7430
   22245  2021-03-22  2호선      신도림역  승차    1529     2109     5905     5399
   21132  2021-03-18  2호선  구로디지털단지역  승차    1526     2010     5905     7626
   23079  2021-03-25  2호선       신림역  승차    1520     2900     8568    13023

          09시-10시  10시-11시  ...  19시-20시  20시-21시  21시-22시  22시-23시  23시-24시  \
분기                          ...
1  19185     4091     2018  ...     4749     2647     2449     2122      301
   20297     4223     2017  ...     5064     2701     2240     1689      225
   22245     3122     1814  ...     2629     2011     1918     1319      279
   21132     4304     2086  ...     4834     2627     2518     2215      272
   23079     6938     3156  ...     1838     1408     1623     1578      301

            연도  월   일  요일  분기
분기
1  19185  2021  3  11   목   1
   20297  2021  3  15   월   1
   22245  2021  3  22   월   1
   21132  2021  3  18   목   1
   23079  2021  3  25   목   1

[5 rows x 28 columns]

2020년

In [16]:
df20

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2020-01-01,1호선,서울역,승차,356,280,313,774,923,1418,...,2311,2523,1830,987,25,2020,1,1,수,1
1,2020-01-01,1호선,시청역,승차,105,118,123,206,318,309,...,1061,991,572,217,2,2020,1,1,수,1
2,2020-01-01,1호선,종각역,승차,798,366,198,236,310,379,...,1955,1800,1259,406,6,2020,1,1,수,1
3,2020-01-01,1호선,종로3가역,승차,338,189,153,198,311,466,...,1103,1009,718,288,30,2020,1,1,수,1
4,2020-01-01,1호선,종로5가역,승차,60,50,67,143,228,368,...,823,617,361,111,2,2020,1,1,수,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101135,2020-12-31,8호선,남한산성입구역,승차,304,575,1366,1837,880,501,...,158,104,65,32,0,2020,12,31,목,4
101136,2020-12-31,8호선,단대오거리역,승차,219,456,1004,1199,573,348,...,162,148,78,23,0,2020,12,31,목,4
101137,2020-12-31,8호선,신흥역,승차,114,136,385,461,259,189,...,126,93,46,25,0,2020,12,31,목,4
101138,2020-12-31,8호선,수진역,승차,112,203,475,641,311,196,...,90,109,35,19,0,2020,12,31,목,4
101139,2020-12-31,8호선,모란역,승차,49,88,246,314,176,147,...,86,112,45,6,0,2020,12,31,목,4

In [20]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df20_sorted =  df20.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df20_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_9000\1290076512.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df20_sorted =  df20.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                 날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48    2020-01-01  2호선  홍대입구역  승차    5428     3264     2018     1367
   189   2020-01-01  6호선   이태원역  승차    3878     2361      961      490
   3081  2020-01-12  2호선  홍대입구역  승차    2136     1395      986     1203
   5011  2020-01-19  2호선  홍대입구역  승차    2007     1349     1061     1177
   4735  2020-01-18  2호선  홍대입구역  승차    1851     1324     1272     1676

         09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                         ...
1  48       1429     1768  ...     5171     5560     5915     3126      29
   189       382      442  ...      786      980      891      479       0
   3081     1798     2226  ...     6620     7655     7492     3262      22
   5011     1747     2085  ...     6467     7286     7177     3111      29
   4735     2211     2592  ...     7806     9502    10785     6132      70

           연도  월   일  요일  분기
분기
1  48    2020  1   1   수   1
   189   2020  1   1   수   1
   3081  2020  1  12   일   1
   5011  2020  1  19   일   1
   4735  2020  1  18   토   1

[5 rows x 29 columns]

In [21]:
# index를 포함하지 않고 데이터 저장
df20_sorted.to_csv("2020 분기별 승차인원 sorted.csv", index=False)
df20_sorted.head()

                 날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48    2020-01-01  2호선  홍대입구역  승차    5428     3264     2018     1367
   189   2020-01-01  6호선   이태원역  승차    3878     2361      961      490
   3081  2020-01-12  2호선  홍대입구역  승차    2136     1395      986     1203
   5011  2020-01-19  2호선  홍대입구역  승차    2007     1349     1061     1177
   4735  2020-01-18  2호선  홍대입구역  승차    1851     1324     1272     1676

         09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                         ...
1  48       1429     1768  ...     5171     5560     5915     3126      29
   189       382      442  ...      786      980      891      479       0
   3081     1798     2226  ...     6620     7655     7492     3262      22
   5011     1747     2085  ...     6467     7286     7177     3111      29
   4735     2211     2592  ...     7806     9502    10785     6132      70

           연도  월   일  요일  분기
분기
1  48    2020  1   1   수   1
   189   2020  1   1   수   1
   3081  2020  1  12   일   1
   5011  2020  1  19   일   1
   4735  2020  1  18   토   1

[5 rows x 29 columns]

2019년

In [17]:
df19

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2019-01-01,1호선,서울역,승차,348,321,348,741,940,1401,...,2590,3004,2234,970,38,2019,1,1,화,1
1,2019-01-01,1호선,시청역,승차,87,98,143,206,280,395,...,992,904,570,211,6,2019,1,1,화,1
2,2019-01-01,1호선,종각역,승차,669,318,217,203,333,365,...,1796,1780,1296,497,31,2019,1,1,화,1
3,2019-01-01,1호선,종로3가역,승차,227,198,148,205,347,479,...,1149,1004,724,276,5,2019,1,1,화,1
4,2019-01-01,1호선,종로5가역,승차,48,80,67,138,207,362,...,841,546,313,88,2,2019,1,1,화,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100397,2019-12-31,8호선,남한산성입구역,승차,337,723,1848,2562,1244,730,...,318,300,250,122,37,2019,12,31,화,4
100398,2019-12-31,8호선,단대오거리역,승차,274,476,1338,1724,863,523,...,351,303,228,95,45,2019,12,31,화,4
100399,2019-12-31,8호선,신흥역,승차,106,203,468,614,365,235,...,225,203,155,72,23,2019,12,31,화,4
100400,2019-12-31,8호선,수진역,승차,111,224,542,813,436,343,...,219,155,126,68,82,2019,12,31,화,4
100401,2019-12-31,8호선,모란역,승차,73,95,342,482,253,210,...,199,152,189,126,65,2019,12,31,화,4

In [18]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df19_sorted =  df19.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df19_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_9000\291862619.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df19_sorted =  df19.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2019-01-01  2호선  홍대입구역  승차    6023     3954     2343     1592
   189    2019-01-01  6호선   이태원역  승차    3466     2170     1148      564
   18748  2019-03-10  2호선  홍대입구역  승차    2573     1575     1179     1297
   20673  2019-03-17  2호선  홍대입구역  승차    2513     1665     1164     1294
   5273   2019-01-20  2호선  홍대입구역  승차    2399     1603     1057     1168

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1505     1657  ...     5059     5931     6414     2914      25
   189        375      416  ...      972     1023     1005      567       0
   18748     1696     2359  ...     6466     7541     7428     3418      44
   20673     1937     2254  ...     7014     7595     7139     3574      42
   5273      1592     1934  ...     6525     7180     7167     3146      21

            연도  월   일  요일  분기
분기
1  48     2019  1   1   화   1
   189    2019  1   1   화   1
   18748  2019  3  10   일   1
   20673  2019  3  17   일   1
   5273   2019  1  20   일   1

[5 rows x 29 columns]

In [22]:
# index를 포함하지 않고 데이터 저장
df19_sorted.to_csv("2019 분기별 승차인원 sorted.csv", index=False)
df19_sorted.head()

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2019-01-01  2호선  홍대입구역  승차    6023     3954     2343     1592
   189    2019-01-01  6호선   이태원역  승차    3466     2170     1148      564
   18748  2019-03-10  2호선  홍대입구역  승차    2573     1575     1179     1297
   20673  2019-03-17  2호선  홍대입구역  승차    2513     1665     1164     1294
   5273   2019-01-20  2호선  홍대입구역  승차    2399     1603     1057     1168

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1505     1657  ...     5059     5931     6414     2914      25
   189        375      416  ...      972     1023     1005      567       0
   18748     1696     2359  ...     6466     7541     7428     3418      44
   20673     1937     2254  ...     7014     7595     7139     3574      42
   5273      1592     1934  ...     6525     7180     7167     3146      21

            연도  월   일  요일  분기
분기
1  48     2019  1   1   화   1
   189    2019  1   1   화   1
   18748  2019  3  10   일   1
   20673  2019  3  17   일   1
   5273   2019  1  20   일   1

[5 rows x 29 columns]

2018년

In [3]:
df18

,날짜,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,...,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,연도,월,일,요일,분기
0,2018-01-01,1호선,서울역,승차,373,318,365,785,1047,1576,...,2382,3070,1750,781,96,2018,1,1,월,1
1,2018-01-01,1호선,시청역,승차,87,105,124,197,291,499,...,1032,975,553,214,9,2018,1,1,월,1
2,2018-01-01,1호선,종각역,승차,604,399,191,250,370,439,...,1935,2084,1458,580,28,2018,1,1,월,1
3,2018-01-01,1호선,종로3가역,승차,282,211,133,233,320,471,...,1206,1213,922,313,16,2018,1,1,월,1
4,2018-01-01,1호선,종로5가역,승차,54,61,78,146,221,330,...,505,402,296,85,8,2018,1,1,월,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100370,2018-12-31,8호선,남한산성입구역,승차,316,647,1691,2239,1155,654,...,317,260,220,94,123,2018,12,31,월,4
100371,2018-12-31,8호선,단대오거리역,승차,234,417,1369,1527,731,556,...,327,282,239,145,153,2018,12,31,월,4
100372,2018-12-31,8호선,신흥역,승차,119,155,389,500,350,227,...,199,157,134,71,135,2018,12,31,월,4
100373,2018-12-31,8호선,수진역,승차,91,208,467,652,390,318,...,169,148,118,62,513,2018,12,31,월,4
100374,2018-12-31,8호선,모란역,승차,55,84,284,425,202,219,...,157,180,139,94,189,2018,12,31,월,4

In [4]:
# 각 분기별로 시간대별 승차 데이터를 큰 값부터 작은 값 순서로 sorted
df18_sorted =  df18.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',
                                                                    '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시',
                                                                    '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시',
                                                                    '23시-24시', '24시 이후'], ascending=False))
df18_sorted.head()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_14680\2434452343.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df18_sorted =  df18.groupby('분기').apply(lambda x: x.sort_values(by=['06시 이전', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시',

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2018-01-01  2호선  홍대입구역  승차    6649     4076     2443     1596
   3759   2018-01-01  6호선   이태원역  승차    3551     1980      942      432
   17463  2018-03-11  2호선  홍대입구역  승차    2979     1963     1143     1275
   16630  2018-03-04  2호선  홍대입구역  승차    2947     1694     1070     1227
   18296  2018-03-18  2호선  홍대입구역  승차    2931     1959     1383     1490

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1405     1466  ...     5078     5585     6145     3159      34
   3759       378      396  ...      922     1095     1051      617       1
   17463     1600     2017  ...     7605     8458     7912     3594       8
   16630     1461     1698  ...     6705     6816     6220     2798      23
   18296     1919     2129  ...     7008     7809     6704     3068      37

            연도  월   일  요일  분기
분기
1  48     2018  1   1   월   1
   3759   2018  1   1   월   1
   17463  2018  3  11   일   1
   16630  2018  3   4   일   1
   18296  2018  3  18   일   1

[5 rows x 29 columns]

In [5]:
# index를 포함하지 않고 데이터 저장
df18_sorted.to_csv("2018 분기별 승차인원 sorted.csv", index=False)
df18_sorted.head()

                  날짜   호선     역명  구분  06시 이전  06시-07시  07시-08시  08시-09시  \
분기
1  48     2018-01-01  2호선  홍대입구역  승차    6649     4076     2443     1596
   3759   2018-01-01  6호선   이태원역  승차    3551     1980      942      432
   17463  2018-03-11  2호선  홍대입구역  승차    2979     1963     1143     1275
   16630  2018-03-04  2호선  홍대입구역  승차    2947     1694     1070     1227
   18296  2018-03-18  2호선  홍대입구역  승차    2931     1959     1383     1490

          09시-10시  10시-11시  ...  20시-21시  21시-22시  22시-23시  23시-24시  24시 이후  \
분기                          ...
1  48        1405     1466  ...     5078     5585     6145     3159      34
   3759       378      396  ...      922     1095     1051      617       1
   17463     1600     2017  ...     7605     8458     7912     3594       8
   16630     1461     1698  ...     6705     6816     6220     2798      23
   18296     1919     2129  ...     7008     7809     6704     3068      37

            연도  월   일  요일  분기
분기
1  48     2018  1   1   월   1
   3759   2018  1   1   월   1
   17463  2018  3  11   일   1
   16630  2018  3   4   일   1
   18296  2018  3  18   일   1

[5 rows x 29 columns]